<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mobile.android.idcard.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 这个可以让你的应用在google play上被声明使用者必须拥有nfc功能。 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--<activity-->
            <!--android:name="com.example.imitatesdk.MainActivity"-->
            <!--android:label="@string/app_name" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name="com.example.imitatesdk.CardInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!--<intent-filter>-->
                <!--<action android:name="android.nfc.action.TECH_DISCOVERED" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.nfc.action.TECH_DISCOVERED"-->
                <!--android:resource="@xml/nfc_tech_filter" />-->
        </activity>

    </application>

</manifest>
